version: '2'

services:
    application:
        build: ./docker/php/
        volumes:
            - .:/var/www/html
        ports: 
            - 8000:80
        links:
            - redis

    redis:
        image: redis:3.2.10
        ports:
            - 6379:6379